<article class="col-6 col-12-xsmall work-item">
  <a href="{{ blog.url }}" class="image fit">
    <img src="{% either blog.data.featured.imageThumb, blog.data.imageFull %}" alt="{{ blog.data.imageAlt }}"/>
  </a>
  <h3>{{ blog.data.title }}</h3>
  <p>{{ blog.data.featured.description }}</p>
</article>