<article class="col-6 col-12-xsmall work-item">
  <a href="{{ blog.data.featured.imageFull }}" class="image fit thumb">
    <img src="{{ blog.data.featured.imageThumb }}" alt="{{ blog.data.featured.imageAlt }}"/>
  </a>
  <h3>{{ blog.data.title }}</h3>
  <p>{{ blog.data.featured.description }}</p>
</article>