---
layout: "base.njk"
---

<section>
  <header>
    <h2>{{ title }}</h2>
    <p>
      <small>Stefan, {{ date | formatDate }}</small>
    </p>
  </header>
  <div class="box alt">
    <div class="row gtr-50 gtr-uniform">
      <div class="col-12 align-right">
        <span class="image fit">
          <img src="{{ imageFull }}" alt="{{ imageAlt }}"/>
        </span>
        <small>{{ imageCredit }}</small>
      </div>
    </div>
  </div>
  {% if portfolio.isPortfolio %}
    <div style="display: flex; flex-wrap: wrap">
      <ul class="icons flex">
        {% if portfolio.githubSource %}
          <li>
            <a
              href="{{ portfolio.githubSource }}"
              class="icon brands fa-github"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Check out the source on GitHub"
              title="Check out the source on GitHub"
            >
              <span class="label">Check out the source on GitHub</span>
            </a>
          </li>
        {% endif %}
        {% if portfolio.liveUrl %}
          <li>
            <a
              href="{{ portfolio.liveUrl }}"
              class="icon solid fa-link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Check out the live version"
              title="Check out the live version"
            >
              <span class="label">Check out the live version</span>
            </a>
          </li>
        {% endif %}
      </ul>
      <div style="flex: 1"></div>
      <ul class="icons flex">
        {% for technology in portfolio.technologies | technologies(collections.technology) %}
          <li>
            <img src="{{ technology.image }}" alt="{{ technology.description }}"
              title="{{ technology.description }}"/>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {{ content | safe }}
</section>
