---
layout: "base.njk"
---

<section>
  <h2>{{ title }}</h2>
  <div class="box alt">
    <div class="row gtr-50 gtr-uniform">
      <div class="col-12 align-right">
        <span class="image fit">
          <img src="{{ imageFull }}" alt="{{ imageAlt }}"/>
        </span>
        <sub>{{ imageCredit }}</sub>
      </div>
    </div>
  </div>
  {{ content | safe }}
</section>