---
layout: "base.njk"
---

<section>
  <header>
    <h2>{{ title }}</h2>
    <p>
      <small>{{ author }}, {{ page.date | formatDate }}</small>
    </p>
  </header>
  <div class="box alt">
    <div class="row gtr-50 gtr-uniform">
      <div class="col-12 align-right">
        <span class="image fit">
          <img src="{{ imageFull }}" alt="{{ imageAlt }}"/>
        </span>
        <small>{{ imageCredit }}</small>
      </div>
    </div>
  </div>
  {% if portfolio.isPortfolio %}
    <ul class="icons flex">
      {% if portfolio.githubSource %}
        <li>
          <a
        href="{{ portfolio.githubSource }}"
        class="icon brands fa-github"
        target="_blank"
        rel="noopener noreferrer"
      >
            <span class="label">See the source on GitHub</span>
          </a>
        </li>
      {% endif %}
      {% if portfolio.liveUrl %}
        <li>
          <a
        href="{{ portfolio.liveUrl }}"
        class="icon solid fa-link"
        target="_blank"
        rel="noopener noreferrer"
      >
            <span class="label">See live version</span>
          </a>
        </li>
      {% endif %}
      <li style="flex: 1"></li>
      {% for technology in portfolio
        .technologies
        .split("\n") %}
        <li>
          <img src="{{ technology }}"/>
        </li>
      {% endfor %}
    {% endif %}
  </ul>
  {{ content | safe }}
</section>