<style>
  :root {
    --footer-overlay: url("{{ config.header.footerOverlay }}");
    --footer-background: url("{{ config.header.footerBackground }}");
  }
</style>

<footer id="footer">
  <div class="inner">
    <ul class="icons">
      <li>
        <a href="/" class="icon solid fa-home" aria-label="Home">
          <span class="label">Home</span>
        </a>
      </li>
      <li>
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/StefanPuia"
           class="icon brands fa-github" aria-label="GitHub">
          <span class="label">Github</span>
        </a>
      </li>
      <li>
        <a href="mailto:contact@stefanpuia.co.uk" class="icon solid fa-envelope" aria-label="Email">
          <span class="label">Email</span>
        </a>
      </li>
    </ul>
    <ul class="copyright">
      <li>&copy; Stefan Puia</li>
      <li>
        <a href="/acknowledgements">Acknowledgements</a>
      </li>
    </ul>
  </div>
</footer>