<style>
  :root {
    --footer-overlay: url("{{ config.header.footerOverlay }}");
    --footer-background: url("{{ config.header.footerBackground }}");
  }
</style>

<footer id="footer">
  <div class="inner">
    <ul class="icons">
      <li>
        <a href="https://github.com/StefanPuia" class="icon brands fa-github">
          <span class="label">Github</span>
        </a>
      </li>
      <li>
        <a href="mailto:contact@stefanpuia.co.uk" class="icon solid fa-envelope">
          <span class="label">Email</span>
        </a>
      </li>
      <li>
        <a href="https://ko-fi.com/stefanpuia" class="icon solid fa-mug-hot">
          <span class="label">Ko-fi</span>
        </a>
      </li>
    </ul>
    <ul class="copyright">
      <li>&copy; Stefan Puia</li>
      <li>Design: <a href="http://html5up.net">HTML5 UP</a>
      </li>
    </ul>
  </div>
</footer>