{
  "printWidth": 90,
  "overrides": [
    {
      "files": "*.njk",
      "options": {
        "parser": "html"
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "html"
      }
    }
  ]
}
