---
layout: "base.njk"
title: {{ config.blog.title.toString() }}
---

<section id="two">
  <h2>{{ config.blog.header | safe }}</h2>
  <ul class="actions">
    <li>
      <a href="/portfolio" class="button">{{ config.blog.portfolioButton }}</a>
    </li>
  </ul>
  <div class="row">
    {% for blog in collections.blog %}
      {% include 'article.njk' %}
    {% endfor %}
  </div>
</section>