---
layout: "base.njk"
---

<section>
  <header class="major">
    <h2>{{ config.home.heroHeader | safe }}</h2>
  </header>
  <p>{{ config.home.heroDescription | safe }}</p>
  <ul class="actions">
    <li>
      <a href="/blog" class="button">{{ config.home.button }}</a>
    </li>
  </ul>
</section>

{% if ((collections.blog | featured).length > 0) %}
  <section>
    <h2>{{ config.home.featured.header }}</h2>
    <div class="row">
      {% for blog in collections.blog | featured %}
        {% include 'article.njk' %}
      {% endfor %}
    </div>
    <ul class="actions">
      <li>
        <a href="/portfolio" class="button">{{ config.home.featured.button }}</a>
      </li>
    </ul>
  </section>
{% endif %}