---
layout: "base.njk"
---

<section>
  <h2>{{ config.portfolio.header | safe }}</h2>
  <ul class="actions">
    <li>
      <a href="/blog" class="button">{{ config.portfolio.blogButton }}</a>
    </li>
  </ul>
  <div class="row">
    {% for blog in collections.blog | portfolio | latest %}
      {% include 'article.njk' %}
    {% endfor %}
  </div>
</section>